In [2]:
import pandas as pd

In [5]:
path_ages = "data/tehpra_ltrs_classified_ages.tsv"

In [6]:
df_ages = pd.read_csv(path_ages, sep='\t')
print(len(df_ages.index))
df_ages.head(2)

27591

,ID,Divergence,Age,Ts:Tv
0,RLC_family0_LTR_retrotransposon248_chr00_43732...,0.0775,38750000,11.0785
1,RLC_family0_LTR_retrotransposon829_chr00_19719...,0.0611,30550000,9.7319

In [8]:
df_ages['seqname'] = df_ages['ID'].str.split('_').str[-3:-2].str[0]
df_ages['start'] = df_ages['ID'].str.split('_').str[-2:-1].str[0]
df_ages['end'] = df_ages['ID'].str.split('_').str[-1:].str[0]

In [10]:
df_ages.head(3)

,ID,Divergence,Age,Ts:Tv,seqname,start,end
0,RLC_family0_LTR_retrotransposon248_chr00_43732...,0.0775,38750000,11.0785,chr00,4373242,4378730
1,RLC_family0_LTR_retrotransposon829_chr00_19719...,0.0611,30550000,9.7319,chr00,19719108,19724589
2,RLC_family0_LTR_retrotransposon2116_chr01_2257...,0.1043,52150000,2.0909,chr01,22577889,22582457

In [11]:
df_ages = df_ages[['seqname','start','end','Age']]
df_ages = df_ages.rename(columns={'seqname':'Chr','start':'Start','end':'End','Age':'Value'})
df_ages.to_csv('data/ltr_ages.csv',sep='\t', index=None)

In [72]:
df_rlc = df_ages[df_ages.Family_name.str.contains('RLC')]
df_rlc = df_rlc[['seqname','start','end','Age']]
df_rlc = df_rlc.rename(columns={'seqname':'Chr','start':'Start','end':'End','Age':'Value'})
df_rlc.to_csv('data/lrc_ages.csv',sep='\t', index=None)

In [75]:
df_rlx = df_ages[df_ages.Family_name.str.contains('RLX')]
df_rlx = df_rlx[['seqname','start','end','Age']]
df_rlx = df_rlx.rename(columns={'seqname':'Chr','start':'Start','end':'End','Age':'Value'})
df_rlx.to_csv('data/lrx_ages.csv',sep='\t', index=None)

In [76]:
df_rlg = df_ages[df_ages.Family_name.str.contains('RLG')]
df_rlg = df_rlg[['seqname','start','end','Age']]
df_rlg = df_rlg.rename(columns={'seqname':'Chr','start':'Start','end':'End','Age':'Value'})
df_rlg.to_csv('data/lrg_ages.csv',sep='\t', index=None)