In [10]:
import pandas as pd

In [11]:
path_ages = "data/db/potato_dm_v404_all_pm_un_tephra_ltr-tir_age_summary.tsv"
path_tes = "data/db/out.gff"

In [12]:
df_ages = pd.read_csv(path_ages, sep='\t')
print(len(df_ages.index))
df_ages.head(2)

1614

,Superfamily,Family,Family_size,ElementID,Divergence,Age,Ts:Tv
0,Copia,RLC_family0,43,RLC_family0_exemplar,0.0471,2355000,3.2242
1,Copia,RLC_family1,33,RLC_family1_exemplar,0.0212,1060000,4.1588

In [13]:
df_tes = pd.read_csv(path_tes, sep='\t', comment='#', header=None)
df_tes.columns = ['seqname' , 'source' , 'feature' , 'start' , 'end' , 'score' , 'strand' , 'frame' , 'attribute']
print(len(df_tes.index))
df_tes.head(2)

955859

,seqname,source,feature,start,end,score,strand,frame,attribute
0,ChrUn,BLASTN,similarity,1,725,0,+,.,ID=DTX_singleton_family2245_terminal_inverted_...
1,ChrUn,BLASTN,similarity,823,1144,0,+,.,ID=DTX_singleton_family3808_terminal_inverted_...

In [ ]:
dfs = []
for k,v in df_ages.iterrows():
    te_type, family = v.Family.split('_')
    family = '_' + family + '_'
    res = df_tes[(df_tes.attribute.str.contains(te_type)) & (df_tes.attribute.str.contains(family))]
    dfs.append(res)

In [ ]:
df_res = pd.concat(dfs)
print(len(df_res.index))
df_res.head(2)